//COLORS
$White-Color: #ffffff;
$Black-Color: #000000;

$Primary-Color-900: #4c1d95;
$Primary-Color-600: #7c3aed;
$Primary-Color-300: #c4b5fd;
$Primary-Color-100: #ede9fe;

$Secondary-Color-600: #1db5be;
$Secondary-Color-300: #75e3ea;
$Secondary-Color-100: #d5fafc;

$Neutral-Color-900: #111827;
$Neutral-Color-700: #374151;
$Neutral-Color-600: #4b5563;
$Neutral-Color-500: #6b7280;
$Neutral-Color-400: #9ca3af;
$Neutral-Color-300: #d1d5db;
$Neutral-Color-200: #e5e7eb;
$Neutral-Color-100: #f3f4f6;
$Neutral-Color-50: #f9fafb;

$Accent-Color-05: #a0dcff;
$Accent-Color-05: #f9b501;
